---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import pdf from '../assets/file-pdf.svg';
import github from '../assets/github.svg';
import linkedin from '../assets/linkedin.svg';
import mail from '../assets/mail.svg';
import telegram from '../assets/baseline-telegram.svg';
import mastodon from '../assets/mastodon.svg';
---

<Layout title='Max Tropnikov'>
  <main
    class='flex flex-col justify-start items-center mx-auto my-0 mt-48 w-11/12'
  >
    <h1
      class='text-[28px] leading-8 min-[360px]:text-3xl min-[475px]:text-4xl sm:text-5xl md:text-6xl font-semibold uppercase my-2 md:my-8 text-white'
    >
      Max Tropnikov
    </h1>

    <ul role='list' class='grid grid-cols-6 gap-2 sm:gap-3'>
      <Card href='https://github.com/tropnikov' icon={github} />
      <Card
        href='https://www.linkedin.com/in/maksim-tropnikov/'
        icon={linkedin}
      />
      <Card href='https://mastodon.social/@totmaks' icon={mastodon} rel='me' />
      <Card href='https://t.me/tropnikov' icon={telegram} />
      <Card href='mailto:max@tropnikov.me' icon={mail} />
      <Card
        href='https://drive.google.com/file/d/1ODAlEDXeeXsV5dAXbbTg2XdI6N6b0edy/view?usp=sharing'
        icon={pdf}
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0%;
  }
</style>
