---
import telegram from '../assets/baseline-telegram.svg';
import pdf from '../assets/file-pdf.svg';
import github from '../assets/github.svg';
import linkedin from '../assets/linkedin.svg';
import mail from '../assets/mail.svg';
import mastodon from '../assets/mastodon.svg';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Max Tropnikov'>
  <main
    class='flex flex-col justify-start items-center mx-auto my-0 mt-48 w-11/12'
  >
    <h1
      class='text-[28px] leading-8 min-[360px]:text-3xl min-[475px]:text-4xl sm:text-5xl md:text-6xl font-semibold my-2 md:my-8 text-white'
    >
      Max Tropnikov
    </h1>

    <ul role='list' class='grid grid-cols-6 gap-2 sm:gap-3'>
      <Card
        href='https://github.com/tropnikov'
        icon={github}
        target='_blank'
        type='github'
        title='github'
      />
      <Card
        href='https://www.linkedin.com/in/maksim-tropnikov/'
        icon={linkedin}
        target='_blank'
        type='linkedin'
        title='linkedin'
      />
      <Card
        href='https://mastodon.social/@totmaks'
        icon={mastodon}
        rel='me'
        target='_blank'
        type='mastodon'
        title='mastodon'
      />
      <Card
        href='https://t.me/tropnikov'
        icon={telegram}
        target='_blank'
        type='telegram'
        title='telegram'
      />
      <Card
        href='mailto:max@tropnikov.dev'
        icon={mail}
        type='mail'
        title='mail'
      />
      <Card
        href='Max-Tropnikov-CV-Frontend.pdf'
        icon={pdf}
        type='pdf'
        title='cv'
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0%;
  }
</style>
